Controller/Auth/.env
lib/stripe/README.md
actualizar.php
erros.php
uploads/alojamentos/*
!uploads/alojamentos/.gitkeep
uploads/empresa/alvara/*
!uploads/empresa/alvara/.gitkeep
uploads/empresa/nuit/*
!uploads/empresa/nuit/.gitkeep
/Conexao/conector.php
Config/*
!Config/.gitkeep
