* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Verdana, Tahoma, Helvetica;
}

.noticias,
.formulario,
.container-footer {
  max-width: 1280px;
  margin: 0 30px;
  margin-top: 50px;
  padding-left: 200px;
}
header {
  position: fixed;
  top: 1;
  width: 100%;
  z-index: 1000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.row + .row {
  padding-top: 30px;
}

header nav ul.nav li a {
  color: #ffffff;
}

header nav ul.nav li a {
  color: black;
}
header nav ul li.nav-item ul.dropdown-menu li a.dropdown-item {
  color: black;
}

header,
footer {
  background-color: #3a4c91;
}

.container-footer {
  padding: 10px;
}

.container-footer p {
  color: white;
}

.container-footer p span {
  color: #3c9bff;
}

#nav-link {
  color: white;
}

/* Responsividade */
@media screen and (max-width: 1020px) {
  /* footer */
  footer .container-footer {
    flex-direction: column;
    gap: 30px;
  }

  footer .container-footer {
    text-align: center;
  }

  header .container-footer {
    display: block;
  }
}
